[submodule "host-mock/external/cpp-httplib"]
	path = host-mock/external/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git
[submodule "external/cjson"]
	path = external/cjson
	url = https://github.com/DaveGamble/cJSON
