[submodule "host-mock/external/cpp-httplib"]
	path = host-mock/external/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git
[submodule "host-mock/external/json"]
	path = host-mock/external/json
	url = https://github.com/nlohmann/json.git
