[submodule "main/host-testbench/external/cpp-httplib"]
	path = host-mock/host-testbench/external/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git
[submodule "main/host-testbench/external/json"]
	path = host-mock/host-testbench/external/json
	url = https://github.com/nlohmann/json.git
